li, li a div, li a div img{
  width: 120px;
  /* height: 120px; */
}

.nav-category{
  margin-top: 130px;
}

.category-image{
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 50%;
  background: #3ea2ea44;
  border: 1px solid var(--yellow);
}

li a div h3{
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

li{
  margin: 0.5rem;
}

li a{
  color: #000;
  text-decoration: none;
}

.wraper{
  list-style: none;
  display: flex;
  overflow-x: auto;
  align-items: center;
}

.wraper::-webkit-scrollbar{
  width: 0px;
}

@media only screen and (min-width: 1024px) {
  .wraper{
    justify-content: center;
  }

  .wraper::-webkit-scrollbar{
    width: 1rem;
    height: 1rem;
    background: var(--purple);
  }
}