*{
  --font-cabin-sketch: 'Cabin Sketch', cursive;
  --morado-oscuro: #362270;
}

.title{
  font-family: var(--font-cabin-sketch);
  font-weight: bold;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 2.2rem;
  text-align: center;
}

.paragraph{
  font-family: var(--font-cabin-sketch);
  font-weight: normal;
  padding: 0 1rem;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
}

.name{
  color: var(--morado-oscuro);
}

main{
  padding: 1rem;
}