*{
  --dark-purple: #684BBD;
  --purple: #684cbdd4;
  --font-normal: 'Cabin', sans-serif;

  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

h2{
  text-align: center;
  margin-bottom: 2rem;
  color: #737373;
}

.product{
  margin-bottom: 3rem;
  background: var(--purple);
  border: 3px solid var(--dark-purple);
  border-radius: 10px;
}

.product img{
  width: 100%;
  max-width: 272px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.product h3, .product p, .product span{
  color: white;
  font-family: var(--font-normal);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem;
}

.product p{
  font-weight: normal;
  color: rgb(255, 255, 255);
}

.info{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button{
  background: none;
  border: none;
  width: 50px;
}

section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  justify-content: center;
}

.cart-button{
  position: fixed;
  bottom: 0;
  right: 10%;
  z-index: 1000000;
}

.cart-button img{
  width: 60px;
}

.show-quantity{
  background: var(--dark-purple);
  padding: 10px;
  width: 10px;
  height: 10px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-family: var(--font-normal);
  position: absolute;
  top: -5px;
  left: 44px;
}